@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --muted: 0 0% 98%;
    --background-subtle: 0 0% 98%;
    --foreground: 240 10% 15%;
    --muted-foreground: 240 3.8% 46.1%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 35, 100%, 52%;
    --warning-foreground: 0 0% 9%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 5%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 7%;
    --card-foreground: 0 0% 98%;
    --popover: 0, 0%, 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0, 0%, 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359, 100%, 61%;
    --destructive-foreground: 0, 0%, 100%;
    --muted-foreground: 0, 0%, 50%;
    --border: 0, 0%, 17%;
    --input: 0, 0%, 11%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
}

.card-faded {
  background-image: linear-gradient(
      hsl(var(--background)),
      hsl(var(--background))
    ),
    linear-gradient(to bottom, hsl(var(--border)), transparent);
  border-image-width: 1px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.animation_reveal {
  animation: animation_reveal 0.5s ease forwards;
}

@keyframes animation_reveal {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
